.shopContainer {
  position: relative;
}

.shopText {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.shopImage {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
